:root {
  /*esto es como declarar una variable en CSS */
  --blanco: #fff;
  --oscuro: #212121;
  --primario: #4daa93;
  --secundario: #0097a7;
  --fuente-suave: rgb(146, 139, 139);
  --gris: #b1b8b7;
  --prueba: rgba(255, 193, 7, 1);
  --fondo: rgb(204, 215, 218);
  --fuente-principal: 1.5rem;
}

/* globales */
html {
  font-size: 62.5%;
  /* Hack para los rems para que funcionen siempre como queremos*/
  box-sizing: border-box;
  /* hasta aqui */
}
body {
  font-size: var(--fuente-principal);
  font-family: helvetica, arial;
}
a {
  text-decoration: none;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 600px;
  background-color: var(--fondo);
  margin-top: 1rem;
}
.moviles {
  display: none;
}
@media (min-width: 768px) {
  .moviles {
    display: block;
  }
}
.container__login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 500px;
  background-color: var(--primario);
  margin-bottom: 2rem;
}
.container__login img {
  width: 45%;
}
.form__login {
  background-color: var(--prueba);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-top: 1rem;
}
.form__login input {
  margin: 0.5rem;
  padding: 0.8rem;
  width: 92%;
}

.boton__acceder {
  width: 80%;
  background-color: #b83d3d;
}
.login__hijo {
  background-color: var(--secundario);
}
.registro {
  background-color: var(--blanco);
}
.registro p {
  text-align: center;
}

.link_google {
  width: 100%;
  display: flex;
  align-items: space-between;
}
.link_google img {
  width: 45%;
  margin: 0.5rem;
}

.footer {
  text-align: center;
  font-size: 0.9em;
  color: var(--fuente-suave);
}
.footer__otros {
  word-spacing: 2rem;
  line-height: 2rem;
  margin: 2rem;
}
.footer__idiomas {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--fuente-suave);
}

.footer__idiomas select {
  border: none;
  margin: 2rem;
  color: var(--fuente-suave);
}
