:root {
  /*esto es como declarar una variable en CSS */
  --blanco: #fff;
  --oscuro: #212121;
  --primario: #4daa93;
  --secundario: #0097a7;
  --fuente-suave: rgb(146, 139, 139);
  --gris: #dfdfdf;
  --prueba: rgba(255, 193, 7, 1);
  --fondo: #fafafa;
  --fuente-principal: 1.5rem;
}

/* globales */
html {
  font-size: 62.5%;
  /* Hack para los rems para que funcionen siempre como queremos*/
  box-sizing: border-box;
  /* hasta aqui */
}
body {
  font-size: var(--fuente-principal);
  font-family: helvetica, arial;
  background-color: var(--fondo);
}
a {
  text-decoration: none;
  color: #0095f6;
}
iframe {
  border: none;
  color: blue;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 600px;
  background-color: var(--fondo);
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  /* padding-right: 15rem; */
}
.moviles {
  display: none;
}
@media (min-width: 798px) {
  .moviles {
    display: block;
  }
  .fotoMoviles {
    z-index: -1;
    margin-left: -5rem;
  }
  .fotoMoviles2 {
    position: absolute;
    z-index: 1;
    top: 26px;
    left: 106px;
    width: 60.5%;
  }
}

.container__login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 340px;
  height: 520px;
  background-color: var(--blanco);
  padding-top: 2rem;
  border: 1px solid var(--gris);
  border-radius: 3px;
  margin-bottom: 25px;
}
.container__login img {
  width: 55%;
}

.form__login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-top: 1rem;
  font-family: -apple-system, "Roboto", Roboto, "Helvetica Neue", sans-serif,
    arial;
}
.form__login input {
  margin: 0.5rem;
  padding: 1rem;
  width: 92%;
  font-size: 13px;
  border-color: #b1b8b7;
  border-radius: 5px;
  border: 1px solid var(--gris);
  background-color: var(--fondo);
  outline: 0;
}
.form__login input::placeholder {
  color: var(--fuente-suave);
  font-size: 1.2rem;
}
.boton__acceder {
  cursor: pointer;
  width: 80%;
  background-color: rgba(0, 149, 246, 0.3);
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  opacity: 1;
  color: var(--blanco);
  border: 0;
  height: 3rem;
  border-radius: 5px;
}

.login__hijo {
  text-align: center;
}
.login__hijo p {
  color: var(--fuente-suave);
}
.login__fb {
  color: #3b77d7;
  font-size: 15px;
  font-weight: bold;
}
.login__pass {
  color: #3b77d7;
  font-size: 12px;
}
.registro {
  background-color: var(--blanco);
  color: #343434;
}
.registro p {
  text-align: center;
  font-size: 14px;
}

.link_google {
  width: 100%;
  display: flex;
  align-items: space-between;
  margin-left: 1.5rem;
}
.link_google img {
  width: 45%;
  margin: 0.5rem;
}

.footer {
  font-family: roboto;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
  color: var(--fuente-suave);
}
.footer__otros {
  word-spacing: 1.5rem;
  line-height: 1.5rem;
}
.footer__idiomas {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--fuente-suave);
}

.footer__idiomas select {
  border: none;
  margin: 2rem;
  /*pese al footer le tuve que poner el color otra vez*/
  color: var(--fuente-suave);
}
/* clase fade para imagenes en carrusel */
.fade-in {
  animation: fadeIn ease 12s;
  -webkit-animation: fadeIn ease 12s;
  -moz-animation: fadeIn ease 12s;
  -o-animation: fadeIn ease 12s;
  -ms-animation: fadeIn ease 12s;
}
@keyframes fadeIn {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* <-----MAIN------> */

.navegacion {
  position: fixed;
  width: 100%;
  border-bottom: 1px solid var(--gris);
  display: flex;
  justify-content: center;
  padding: 3px 0;
  z-index: 1;
}
.nav-caja1 {
  width: 70%;
  max-width: 1000px;
  /* height: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-caja1 img {
  height: 40px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-busqueda {
  margin-bottom: 25px;
}
.busqueda {
  position: absolute;
  left: 40%;
  /* transform: translateX(-50%); */
  width: 20rem;
  height: 2.5rem;
  border: 1px solid var(--gris);
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  outline: 0;
}
/* .nav-items {
  position: relative;
  height: 30px;
} */
.nav-items svg {
  margin-bottom: 12px;
}
.nav-iconos {
  height: 100%;
  cursor: pointer;
  margin: 0 10px;
  display: inline-block;
}

.usuario-icono img {
  width: 50px;
  border-radius: 50%;
}
.main {
  width: 100%;
  padding: 60px;
  display: flex;
  justify-content: center;
  /* margin-top: 50px; */
  font-family: "Roboto", Roboto, "arial", "Helvetica Neue";
}
.contenedor {
  width: 70%;
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 300px;
}
.lado-izquierdo {
  display: flex;
  flex-direction: column;
}
.contenedor-estado {
  width: 100%;
  height: 120px;
  background-color: #fff;
  border: 1px solid var(--gris);
  padding: 10px;
  padding-right: 0;
  border-radius: 2px;
  display: flex;
  align-items: center;
  /* desplazamiento lateral */
  overflow: hidden;
  overflow-x: auto;
}
.contenedor-estado::-webkit-scrollbar {
  display: none;
}
.cartas-estado {
  flex: 0 0 auto;
  width: 80%;
  max-width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
}
.carta-perfil {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  padding: 3px;
  background: linear-gradient(45deg, rgb(255, 230, 0), rgb(242, 55, 223) 80%);
}
.carta-perfil img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.usuario {
  width: 100%;
  overflow: hidden;
  text-align: center;
  font-size: 12px;
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.5);
}
.post {
  width: 100%;
  background-color: var(--blanco);
  height: 60rem;
  border-top: 1px solid var(--gris);
  margin: 1rem;
}
.info {
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}
.info .usuario {
  width: auto;
  font-weight: bold;
  font-size: 1.4rem;
  color: black;
  margin-left: 1rem;
}
.info .user {
  display: flex;
  align-items: center;
}
.info .user-imagen {
  width: 50%;
  height: 50%;
  padding: 0;
  background: none;
}
.info .user-imagen img {
  border: none;
}
.post-imagen {
  width: 100%;
  height: 50rem;
  object-fit: cover;
}
.contenido-post {
  width: 100%;
  padding: 2rem;
}
